.book-main {
  .top-details-container {
    height: 95vh;
    width: calc(100% - 100px);
    justify-content: space-between;
    align-items: end;
    .left-image {
      background: #eee;
      height: 80vh;
      display: flex;
      border-radius: 20px;
      width: 50%;
      justify-content: center !important;
      align-items: center !important;
      overflow: hidden;
      img {
        width: 450px;
        border: none !important;
        border-radius: 20px;
      }
    }
    .right-details {
      justify-content: start;
      align-items: start;
      width: 45%;
      gap: 10px;
      h1 {
        font-weight: 600;
        font-size: 2rem;
      }
      h2 {
        font-weight: 400;
        font-size: 0.8rem;
      }
      .cat {
        padding: 10px 30px;
        background: royalblue;
        border-radius: 30px;
        color: white;
        font-size: 0.8rem;
        font-weight: 600;
        margin-top: 5px;
      }
      p {
        text-align: justify;
        font-size: 0.8rem;
      }
      .more-details {
        align-items: start;
        justify-content: start;
        width: 100%;
        margin-top: 10px;
        gap: 10px;
        .year {
          padding: 15px 30px;
          background: #eee;
          border-radius: 25px;
        }
        .price {
          justify-self: flex-end;
          align-self: flex-end;
        }
        .cart-icons {
            justify-content: end;
            align-items: end;
            width: 100%;
            // margin-top: 20px;
            gap: 5px;
            .icon {
                width: 50px;
                height: 50px;
                border: 1px solid    royalblue;
                border-radius: 50%;
                color: royalblue;
                cursor: pointer;
            }
            button {
                width: 200px;
                height: 50px;
                border-radius: 25px;
                background: royalblue;
                border: none;
                color: white;
                font-weight: 600;
                cursor: pointer;
            }
        }
      }
    }
  }
}
