.home-container {
  min-height: 100vh;
  .home-wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    h1 {
      font-size: 7rem;
      text-align: center;
      font-weight: 900;
      line-height: 120px;
      font-family: Montserrat Alternates;
      margin-bottom: 100px;
      span {
        font-family: Macondo;
      }
      .text-span {
        font-family: Macondo;
        border-radius: 50%;
        padding: 50px 100px;
        // border: 5px solid;
        cursor: pointer;
        position: relative;
        .stars {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .text-span::after {
        content: "";
        border-top-left-radius: 400px;
        border-bottom-right-radius: 400px;
        rotate: 45deg;
        width: 100px;
        height: 200px;
        background: #eee;
        position: absolute;
        z-index: -1;
      }
    }
    .catalog {
      max-width: 600px;
      position: absolute;
      bottom: 20px;
      right: 50px;
      border-radius: 20px;
      gap: 10px;
      transition: 0.3s;
      .img-card {
        cursor: pointer;
        width: 150px;
        height: 200px;
        transition: 0.5s;
        border-radius: 20px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          transition: 0.3s;
        }
      }

      .img-card:hover {
        transform: translateY(-20px);
      }
      .img-card::after {
        content: "VIEW";
        width: 0;
        transition: 0.5s;
        height: 40px;
        background: #eee;
        position: absolute;
        bottom: -20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 0.7rem;
        font-weight: 600;
        height: 0;
        overflow: hidden;
      }
      .img-card:hover::after {
        width: calc(100% - 40px);
        border: 2px solid;
        height: 40px;
        border-radius: 20px;
      }
      .img-card::after:hover {
        background: #333;
      }
    }
    .scroll {
      position: absolute;
      bottom: 80px;
      left: 50px;
      .icon-scroll {
        font-size: 3rem;
        padding: 30px;
        border: 1px solid;
        border-radius: 50%; 
        overflow: hidden;
        .animated-icon {
            animation: animateIcon 2s ease-in-out infinite ;
        }
        @keyframes animateIcon {
            from {
                transform: translateY(-80px);
            }to {
                transform: translateY(80px);
            }
        }
      }
      p {
        font-size: 2rem;
        font-weight: 600;
        padding-left: 10px;
      }
    }
  }
}
